.notification {
    margin: 0.5% 0.5%;
    padding: 5px 15px;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 15px;
}

#error {
    color: lightcoral;
}

#success {
    color: green;
}

.blog {
    padding: 5px 5px 2px 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 3px 10px 3px 10px;
}